@import './variables.scss';

/* Container for the whole page */
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content styles */
.mainContent {
  flex: 1; /* Pushes the footer to the bottom */
  padding: 20px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

/* Input section */
.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}

.activeSaveOption {
  background-color: #007bff; // Example active style
  color: white;
}

.keyPointsTextarea {
  width: 100%;
  height: 200px;
  overflow: auto;
  white-space: pre-wrap;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

/* Template cards container */
.templates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Input field */
.inputField {
  width: 80%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

/* Button */
.generateButton {
  padding: 10px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
}

.exportButton {
  padding: 10px 20px;
  margin: 10px;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}